.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 130px;
  padding: 2px;
  color: white;
}

.App-title {
  font-size: 4rem;
  margin: 0 auto;
}

.App-foot {
  font-size: 2rem;
  margin: 0 auto;
  text-align: right;
  padding-top: 2%;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.storyitem{
  margin: 0 auto;
  padding-top: 50%;
}

.letter{
  color:#20C20E;
}

.loading {
  font-size: 4rem;
  background-color:  #222;
  color:white;

}
